@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto";
}

.container {
    width: 100%;
}

.todolist {
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    border-radius: 10px;
    margin: auto;
    margin-top:20px;
    width: 336px;        
}

.orange-background {
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    border-style: solid;
    position: absolute;
    width: 336px;
    margin-left:-1px;
    margin-top:-1px;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 28px;
    background-color:#FFDC40;
}

h1 {
    margin: 45px 30px 0px 105px;
    font-size: 26px;
}

#sortBigSmallActive {
    width: 25px;
    height: 15px;
    position: absolute;
    margin-left: 280px;
}

.search-box {
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    border-style: solid;
    border-radius: 9px;
    margin: 30px 0px 0px 25px;
    width: 265px;
    height: 40px;
    outline-style:none;
    font-size: 16px;
    font-family: "Roboto";
    padding-left: 24px;
}

#circleGray1 {
    position: absolute;
    margin-left: -55px;
    margin-top: 42px;
    background-color: white;
}

ul {
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
    border-style: solid;
    border-radius: 9px;
    width: 263px;
    margin: 15px 0px 20px 25px;
    list-style-type: none;
    padding-left:25px;

}

li {
    margin: 20px;
}
.inside {
display: flex;
justify-content: space-between;
}

#circleGray {
 width: 20px;
 height: 20px;
 margin: 15px 30px 0px 0px;
}

button {
    width: 150px;
    height: 42px;
    border-radius: 71px;
    border: none;
    margin: 10px 0px 10px 95px;
    background-color: #833AE0;
    color: white;
    font-size: 14px;
}
.button-plus {
    background-color: #9953F1;
    width: 42px;
    height: 42px;
    border-radius: 71px;
    display: inline-flex;
    position: absolute;
    margin-top: -13px;
    margin-left: -45px;
    justify-content: center;
    align-items: center;

}   
.button-text {
position: relative;
margin-left: 10px;
}


